<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="goal_topic" value="move_base_simple/goal"/>
    <arg name="qr_topic" value='/rviz_qr_codes'/>

    <node name="rviz2qr" pkg="osm2qr" type="rviz2qr" output="screen">

        <!-- Inputs -->
        <remap from="goal" to="$(arg goal_topic)"/>

        <!-- Outputs -->
        <remap from="qr_code" to="$(arg qr_topic)"/>
    </node>
</launch>
